*{
    margin: 0;
    padding: 0;
    font-family :'Times New Roman', Times, serif;
    box-sizing:border-box;
}

body{
    background: #080808;
    color: #fff;

}

#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none; 
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}

#leftpane,
#rightpane{
  width: 50%;
  float: left;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

#leftpane{
    background-color: aqua;
}

#rightpane{
    background-color: beige;
}


.skill{
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
.skill-coding{
    background-color: #97ea44;

}
.skill-tools{
    background-color: #00ccff;
}
.skill-language{
    background-color: #ffff66;
}


h2{
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2:before,
h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}


.project{
    
}



/*
https://tutorials.nmdprojects.net/change_style_on_hover/ 
use this to understnd how to make a function to change the scroll of the 2 webpage thigns 
*/


